td.field, td.right_caption {
	text-align: left;
	vertical-align: bottom;
}
td.caption, td.errorcaption {
	text-align: right;
	vertical-align: top;
}
.caption, td.errorcaption, td.right_caption {
	font-weight: bold;
}
.errorcaption { color: red; }
div.error {
	border: 2px solid red;
	padding: 13px;
	margin: 20px;
	background: #fdd;
}

.first {
	padding-top: 0px;
	margin-top: 0px;
}
.last {
	padding-bottom: 0px;
	margin-bottom: 0px;
}
