td.field, td.right_caption {
	text-align: left;
	vertical-align: bottom;
}
td.caption, td.errorcaption {
	text-align: right;
	vertical-align: top;
}
td.caption, td.errorcaption, td.right_caption {
	font-weight: bold;
}
td.errorcaption { color: red; }
div.error {
	border: 2px solid red;
	padding: 13px;
	margin: 20px;
	background: #fdd;
}
